.products-card {
  // position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 33.1875rem;
  height: 13.625rem;
  img {
    width: 33.1875rem;
    height: 13.625rem;
    position: absolute;
    filter: brightness(80%);
  }
  h4 {
    font-size: 1.875rem;
    color: white;
    z-index: 2;
    margin: auto;
    text-decoration: none;
  }
}
