.products-category {
  display: inline-block;
  overflow: hidden;
  flex-direction: row;
  max-height: 44.5625rem;
  width: 100%;
  //   background-color: blueviolet;
  padding-bottom: 6.3125rem;
}

.category-type {
  height: 6.75rem;

  h2 {
    font-size: 4.125rem;
    margin: 0;
    font-style: italic;
    font-weight: 900;
  }
}

.category-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 31.5rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
