@import "./Card.css";
@import "./Category.scss";

.products-container {
  width: 100vw;
  margin: auto;
}

.products {
  width: 73.6875rem;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.products-header {
  height: 19.625rem;
  width: 100%;
  background-color: blue;

  img {
    width: 100%;
  }
}

.products-slogan {
  height: 15rem;
  width: 100%;
  // background-color: red;
  text-align: center;
  margin: auto;

  h3 {
    font-style: italic;
    font-weight: 900;
    font-size: 2.875rem;
    margin-bottom: 0.625rem;
  }
  h6 {
    font-weight: normal;
    font-size: 1.4375rem;
    width: 37.4375rem;
    margin: auto;
    margin-top: 0;
  }
}
