// .picked-product-component {
//   width: 28.125rem;
//   height: 19.5625rem;
//   background-color: yellow;
// }

.picked-product-component-header {
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4.6875rem;
}
