.footer-container {
  width: 100vw;
  display: flex;
  position: absolute;
  justify-content: center;
  height: 15.375rem;
}

.footer {
  max-width: 73.6875rem;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .social-media-link {
    display: inline-block;
    margin: 0.5rem;
    width: 2rem;
    min-height: 2rem;
  }
}

.footer-leftSide {
  max-width: 26.5625rem;
  width: 100%;
}

.footer-rightSide {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  right: 0;
}

.footer-div-connect {
  margin-left: 5rem;
  height: 15.375rem;
  width: 16.5rem;
  position: relative;

  h3 {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 0;
  }
  .mail {
    font-weight: normal;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    svg {
      width: 2rem;
      height: 2rem;
      transform: translate(-0.3125rem, 0.4375rem);
    }
  }
}

.footer-div-findus {
  margin-left: 6rem;
  height: 15.375rem;
  position: relative;

  h3 {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 0;
  }
  .phone {
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0.3rem;
    right: 0.5rem;

    svg {
      width: 2rem;
      height: 2rem;
      transform: translate(-0.3125rem, 0.3125rem);
    }
  }
  h6 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-block-start: 0;
    margin-top: 0.5rem;
    line-height: 1.5;
  }
}
