* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 60%;
  button:hover {
    cursor: pointer;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

@import "./Components/Navbar/Navbar.css";
@import "./Components/Footer/Footer.css";
@import "./Components/Products/Products.css";
@import "./Components/PickedProduct/PickedProduct.scss";
@import "./Components/Shopping-cart/ShoppingCart.css";
